<nav class="flex justify-between p-3 shadow-lg text-lg font-semibold">
    <div>
        <button (click)="navigate('./home')">Home</button>
    </div>
    <div>
        <button (click)="navigate('./ThankPage')" class="bg-red-600 p-2 rounded px-4 text-white">End Exam</button>
    </div>
</nav>

<div class="m-5 flex justify-end text-center  ">
    <p class="text-xl">
        Remaining time
        <br>
       <span class="text-5xl" [ngStyle]="{'color': emergy()}">{{hour}}:{{min}}:{{sec}}</span> 
    </p>
</div>

<div class="flex flex-col gap-5" *ngIf="questions != null" >
<ng-container *ngFor="let item of questions;let i=index">

    <div>
        <label for="">{{item.Id}}.{{item.Question}}</label>
        <div  >
            <input   (click)="answerCheck(item.Id,item.Mcq.A)"  type="radio" [name]="item.Id" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"/>
             {{item.Mcq.A}}
        </div>
        <div >
            <input  (click)="answerCheck(item.Id,item.Mcq.B)"   type="radio" [name]="item.Id" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"/>
             {{item.Mcq.B}}
        </div>
        <div >
            <input  (click)="answerCheck(item.Id,item.Mcq.C)"   type="radio" [name]="item.Id" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"/>
             {{item.Mcq.C}}
        </div>
        <div >
            <input  (click)="answerCheck(item.Id,item.Mcq.D)"  type="radio" [name]="item.Id" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"/>
             {{item.Mcq.D}}
        </div>

    </div>
</ng-container>
   
</div>

<div class="flex justify-end p-3  text-lg font-semibold">
    
    <div>
        <button (click)="navigate('./ThankPage')" class="bg-green-600 p-2 rounded px-4 text-white">Submit Exam</button>
    </div>
</div>